.postPageContainer {
  border: 2px solid black;
  width: 90%;
  margin-top: 90px;
  padding: 20px;
  margin: auto;
}

.reactions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.like {
  color: red;
  font-size: 25px;
}
